
* {
    font-family:'Roboto', sans-serif;
}

paper-header-panel div#mainContainer {
    overflow-x:visible !important;
}

.header-title {
    display:table-cell;
    text-align:center;
    width:100%;
}

.week-dropdown {
    display:table-cell;
    white-space: nowrap;
}

#user-avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
 
}

.paper-header {
    padding:16px 8px;
    color:#FFFFFF;
}


paper-dropdown-menu {
    text-align: left;
    margin: auto;
    width: 120px; 
    --paper-dropdown-menu {
          --paper-menu-color: #0000FF;
          --paper-menu-background-color: #FF0000;
    };
}

paper-icon-button:not([style-scope]):not(.style-scope) {
    display: block;
    text-align: center;
}


paper-icon-button.huge {
    margin-right: 0px;
    width: 9mm;
    --paper-icon-button-ink-color: var(--paper-indigo-500);
}

paper-icon-button.huge::shadow #icon {
    width: 9mm;
    height: 9mm;
}

paper-icon-button.huge #icon {
    width: 9mm;
    height: 9mm;
}

.rainbow, .anirbaijan {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nolinkcolor, .nolinkcolor:visited, .nolinkcolor:hover, .nolinkcolor:active {
  color: inherit;
}

paper-material {
display: inline-block;
background: white;
box-sizing: border-box;
margin: 16px;
padding: 16px;
border-radius: 2px;
}

.teampaper {
background-color: #FFFFFF;
margin:10px 0px 10px 0px;
display: inline-block;
max-width: 100%;
x-overflow: hidden;
}

.matchuppaper {
background-color: #F8F8F8;
padding:6px 16px 6px 16px;
margin:32px 32px 0px 32px;
display: inline-block;
}

.cell {
display:table-cell;
padding:2px 4px 2px 4px;
word-wrap: break-word;
}
  
.statheader {
padding-left:8px;
padding-right:8px;
}

.line {
background: #FFFFFF;
overflow: hidden;
padding: 0px 0 50px 0;
/* border-top: 5px solid #000000; */
}

.teamname {
text-align: center;
font-weight: bold;
font-size: 25;
}

.nflTeamNameInactive {
}
  
.nflTeamNameActive {
  font-weight: bold;
}
  
.gameTimeActive {
  color: #000000;
  padding-right: 16px;
  font-weight: bold;
}

.gameTimeInactive {
  color: #999999;
  padding-right: 16px;
}

.statvalue {
color: #999999;
margin-left: 5px;
}

.statpoints {
font-weight: bold;
}
  
.inactivestatpoints {
color: #999999;
}

.matchup {
}

.matchup th {
padding: 0 5px 0 5px;
}

.totalpoints {
font-weight:bold;
}

.totalpointscell {
  border-right: 2px solid black;
  padding-right: 4px;
}